This is the bookings index page

<ul>
  <% @bookings.each do |booking| %>
    <li><%= "Start date: #{booking.start_date}" %></li>
    <li><%= "End date: #{booking.end_date}" %></li>
    <li><%= "Reptile: #{booking.reptile_id}" %></li>
  <% end %>
</ul>
