 
<div class="m-3">
    <%= link_to(INPUT_path, class: "bttn", style: "--color: #3d673e;") do %>
    <span></span>
    <span></span>
    <span></span>
    <span></span> 
    INPUT
    <% end %>
</div>