
    <%= image_tag "reptile.gif", class:"image" %>


    <div class="footer">
      <div id="email">
        <p> <i class="fa-regular fa-envelope"></i> rent-a-reptile@gmail.com </p>
      </div>
      <div id="number">
        <p><i class="fa-solid fa-phone"></i> 01234 567890</p>
      </div>
    </div>
