.reptile_image{
  margin-left: 50px;
  border-radius: 10px;
  box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
}

.green-title {
  color: #3d673e;
}

.container {
  margin-bottom: 10rem !important;
  margin-top: 2rem !important;
}

.new_reptile .text {
  background-color: transparent;
  border-radius: 5px;
}

.new_reptile textarea {
  border: 1px solid #ced4da;
}
