
.navbar-nav a {
    text-decoration: none !important;
    color: whitesmoke;
}

.btn{
    box-shadow: 0 5px #666;
    border-radius: 10px;



}
.btn:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}
