.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #3d673e;
  color: white;
  text-align: left;
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 15px;
  margin-right: auto;
  margin-left: auto;
  font-family: 'Courier New', Courier, monospace; font-size: 18px;
  z-index: 999
}

#email {
  float: left;
}

#number {
  float: right;
}
